.product-container {
    background-color: white;
    border-bottom: 1px solid #4BA3C3;
    padding: 10px;
    width: 70%;
    margin:auto;
    display: flex;
}

.product-container a {
    color: #1b1b1b;
    text-decoration: none;
}

.product-container a:visited, a:hover {
    color: #1b1b1b;
    text-decoration: none;
}

.product-thumbnail {
    width: 180px;
    height: 180px;
    background-color: #cccccc;
}

.product-thumbnail img {
    width: 180px;
    border-radius: 4px;
}

.product-details {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.product-price {
    font-size: 22px;
    padding-bottom: 10px;
}

.product-shipping {
    padding: 0 10px;
}

.product-location {
    padding: 10px;
    font-size: 12px;
}


