.breadcrum {
    padding: 5px 0;
    display: flex;
    color: #175676;
    width: 70%;
    margin: 15px auto;
    box-sizing: border-box; 
}

.breadcrum-caret {
    font-size: 10px;
    padding: 5px;
}

.breadcrum-caret:first-child {
    display: none;
}