.breadcrum {
    padding: 5px 0;
    display: flex;
    color: #175676;
    width: 70%;
    margin: 15px auto;
    box-sizing: border-box; 
}

.breadcrum span::after {
    padding: 5px;
    content: ">";
}

.breadcrum span:last-child::after {
    content: '';
}

