.product-container {
    background-color: white;
    border-bottom: 1px solid #4BA3C3;
    padding: 10px;
    width: 70%;
    margin:auto;
    display: flex;
}

.product-thumbnail {
    width: 180px;
    height: 180px;
    background-color: red;
}

.product-thumbnail img {
    width: 180px;
}

.product-details {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.product-price {
    font-size: 22px;
    padding: 10px 0;
}

.product-location {
    padding: 10px;
    font-size: 12px;
}

